.page--full_bg > .navigation-bar {
    /*background-color: transparent;*/ 
}

.page--full_bg__background {
   /*background:#fff url(../images/splash-page-bgs/golf-bg.jpg) center center no-repeat;
     background-attachment: fixed;
     background-size:100% 100%;
     background-position:left bottom;*/   

/*background: #76b852;*/ /* fallback for old browsers */ 
/*background: -webkit-linear-gradient(to bottom, #76b852 , #8DC26F);*/ /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to bottom, #76b852 , #8DC26F 50%) url(../images/splash-page-bgs/golf-bg.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url('../images/splash-page-bgs/golf-bg.jpg') no-repeat;
	background-position:top center;     
 /*background: linear-gradient(to bottom, rgba(63, 67, 173, 1) 0%, rgba(43,63,173, 0.95) 100%), url('../images/splash-page-bgs/golf-bg.jpg') no-repeat;*/
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url(../images/splash-page-bgs/golf-bg.jpg) repeat;*/
}

.header-logo{
padding-top:10px;
padding-left:10px;
}

.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border: 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}

.page--menu-page__background {
  background-color: #1a1c53;
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 45px;
  height: 45px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card {
  background-color: black;  
  background-repeat: no-repeat;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  background-position: center center;   
  color: white;
  height: 250px;
   position: relative;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-position{
    position: absolute;
     bottom: 0;
    left: 0;
    padding-left :10px;
}

.card-name {
  font-weight: 900;
  font-size: 36px;
  /*//padding: 66px 0 8px 0;*/
  text-align: left;
}

.center{
    /*max-width:60%;*/
}

.card-desc {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
  text-align: left;
  line-height: 1.4;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}





.dashboard-col {
  text-align: center;
  opacity: 0.9;
  padding: 10px 0 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dashboard-col:active {
  opacity: 0.6;
 -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.8, 0.8);
}


.dashboard-col ons-button {
  padding: 0;
  line-height: 1;
}

.dashboard-icon {
  padding: 0 0 4px 0;
}

.dashboard-icon ons-icon {
  font-size: 28px;
}

.dashboard-label {
  font-size: 12px;
}
.avator {
  width: 70px !important;
  height: 70px !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.name {
  font-weight: 600;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}


#floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 250px;
        overflow: auto;
      }

      #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }
      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }
    




